/* *** Contact Form *** */
body{
    background-color: #ffffff;
}

.none{
    display: none;
}




.btn-contact {
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #343a40;
    text-transform: uppercase;
}

.box-shadow-1 {
    box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}

.contact-form{
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.contact-form > *{
    padding: .5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
    outline: none;
}

.contact-form input,
.contact-form textarea{
    font-size: .85rem;
}

.contact-form input{
    border: 0;
    padding-left: 0;
    border-bottom: thin solid #666666;
}

.contact-form textarea{
    border: thin solid #666666;
    /* Esta propiedad permite que el area de texto no se redimensione */
    resize: none;
}

.contact-form input[type="submit"]{
    margin-top: 0;
    cursor: pointer;
    transition: all .5s ease-out;
}

.contact-form input[type="submit"]:hover{
    opacity: .75;
}

.contact-form *::placeholder{
    color: #666666;
}

.contact-form-response{
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.contact-form-response svg{
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: #343a40;
}






.modal#gracias:target{
    opacity: 1;
    pointer-events: auto;

}

@media screen and (min-width: 1024px){
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }

    .contact-form input,
    .contact-form textarea{
        font-size: 1rem;
    }

    .contact-form textarea,
    .contact-form-loader{
        grid-column: span 2;
    }

    .contact-form input[type="submit"]{
        margin-left: 0;
    }
}

/* *** Ventana Modal *** */
.modal{
    position: fixed;
    z-index: 999;
    /* Se usa top,right,bottom y left en 0 para que la caja se estire en toda la pantalla */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content{
    position: relative;
    width: 40%;
}


