#iniciosesion {
    text-decoration: none;
    color: white;
}

.btn-outline-success {
    color: #f9fafb;
    border-color: #f9fafb;
}

.btn-outline-success:hover {
    color: black;
    background-color: white;
    border-color: black;
}

.btn {
    height: 38px;
}

.buscar {
    margin-right: 10px;
}

.nav-item {
    margin-left: 30px;
    margin-right: 30px;
}